---
layout: bootcamp
root: .
venue: University of Melbourne
address: <a href="http://maps.unimelb.edu.au/parkville/building/104#.Uw0fhPiLelM">Alan Gilbert Building</a>
country: Australia
humandate: Mar 18, 21, 26 & 28, 2014
humantime: 9:00 am - 12:30 pm
startdate: 2014-03-18
enddate: 2014-03-28
latlng: -37.7963,144.9614
registration: restricted
instructor: ["Damien Irving"]
contact: d.irving@student.unimelb.edu.au
---


<h2>Python for Bioinformatics Bootcamp</h2>

<p>
  Researchers spend much of their time wrestling with software, but most
  are self-taught programmers. As a result, they spend hours doing things that
  should take minutes, reinvent a lot of wheels, and still don't know if their
  results are reliable. To tackle this problem, an international volunteer organisation
  known as <a href="http://software-carpentry.org">Software Carpentry</a> has been
  running <a href="http://software-carpentry.org/bootcamps/">bootcamps</a> for a number 
  of years now, teaching basic lab skills for computing like program design, version 
  control, data management and task automation. With support from the 
  <a href="https://its.unimelb.edu.au/research">ITS Research Services</a> department, 
  <a href="https://github.com/resbaz/hackerwin">The Hacker Within</a> student group has 
  been running Software Carpentry bootcamps at the University of Melbourne since 2013. 
  For this particular bootcamp, we are teaming up with 
  <a href="http://combine.org.au/">COMBINE</a> to offer a course 
  specifically for the computational biology and bioinformatics community.    
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<p>
  <strong>Who:</strong>
  This bootcamp is restricted to postgraduate students, post-docs and other researchers 
  in the Australian computational biology and bioinformatics community who have a basic  
  familiarity with programming concepts like loops, conditionals, and arrays, but need 
  help to translate this knowledge into practical tools to help them work more productively.
  Participation is not restricted to University of Melbourne people - we'd love to see
  many computational biology and bioinformatics institutions represented.
</p>

<p>
  <strong>Where:</strong>
  <a href="http://maps.unimelb.edu.au/parkville/building/104#.Uw0fhPiLelM">Alan Gilbert Building</a>, 
  University of Melbourne. We are in Theatre 4 for this first week of the bootcamp and Theatre 3 for 
  the second. 
</p>

<p>
  <strong>Registration:</strong>
  All participants are required to register at the 
  <a href="https://www.eventbrite.com.au/e/university-of-melbourne-software-carpentry-bootcamp-for-bioinformatics-registration-10641582259">Eventbrite page</a>.
  The registration process involves a 5-minute questionnaire about your previous programming experience,
  so that we can tailor the teaching materials to the knowledge of the audience.
</p>

<p>
  <strong>Requirements:</strong>
  Participants are asked to bring their laptop with some specific software packages 
  installed and access to either the UniWireless or Eduroam wifi networks (see the setup 
  instructions below for details). If you don't have a laptop, that's completely fine. 
  We'll pair you up with someone who does.
</p>
<p>
  Also, please download these four data files before arriving at the bootcamp:
<ol>
  <li><a href="novice/python/inflammation-01.csv">inflammation-01.csv</a></li>
  <li><a href="novice/python/inflammation-02.csv">inflammation-02.csv</a></li>
  <li><a href="novice/python/inflammation-03.csv">inflammation-03.csv</a></li>
  <li><a href="novice/python/inflammation-04.csv">inflammation-04.csv</a></li>
</ol>
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>
<p>
  In order to accommodate as many people as possible, we are going to spread the
  content of the typical two-day bootcamp over four morning sessions. The following 
  is an outline of what will be taught. During the bootcamp, additional notes on the 
  teaching materials will be available at the bootcamp 
  <a href="https://etherpad.mozilla.org/swc-combine">Etherpad</a>.
</p>

<p>
  <strong>Session 1: The basics</strong><br />
  <em>Tuesday 18 March, 9:00am-12:30pm, Theatre 4</em><br />
  The key to being a proficient programmer is solid fundamentals. In this session
  you'll learn the basics of the unix shell, which is the cornerstone of software
  carpentry.
  <br /><br />

  <strong>Sessions 2 & 3: Programming like a programmer</strong><br />
  <em>Friday 21 March, 9:00am-12:30pm, Theatre 4</em><br />
  <em>Wednesday 26 March, 9:00am-12:30pm, Theatre 3</em><br />
  Have you ever wondered how professional programmers write code? In this session
  you'll learn the common tricks of the trade, via an introduction to the Python
  programming language. From defensive programming, error handling and debugging
  to unit testing and test-driven development, the skills learned in this session
  are transferrable to any language.
  <br /><br />

  <strong>Session 4: Version control</strong><br />
  <em>Friday 28 March, 9:00am-12:30pm, Theatre 3</em><br />
  Do you work in a small research team that shares code? Do you struggle to keep
  track of multiple versions of the same code? Would you like an easier way to backup
  your work? This session will teach you everything you need to know about git,
  a version control system that can solve all these problems and more.
  <br /><br />

</p>

<hr/>


<h2>Setup</h2>

<p>
  Prior to the bootcamp, University of Melbourne staff/students should ensure that their laptop can connect
  to UniWireless. Instructions on how to do this and where to get assistance can be found 
  <a href="https://its.unimelb.edu.au/help/networks-access/networks-internet/connect-wireless/unimelb">here</a>.
  Attendees from other Australian universities should find out (from the IT website of 
  their home institution) how to connect to the Eduroam wireless network.
</p>
<p>
  Besides a working wifi connection, you will also need working copies of the 
  software described below. Please make sure to install everything <em>before</em> the 
  start of the bootcamp.
</p>

{% include setup.html %}
