---
layout: bootcamp
root: .
venue: University of Melbourne
address: Alan Gilbert Building, Theatre 4 (first week) and 3 (second week)
country: Australia
humandate: Mar 18, 21, 26 & 28, 2014
humantime: 9:00 am - 12:30 pm
startdate: 2014-03-18
enddate: 2014-03-28
latlng: -37.7963,144.9614
registration: restricted
instructor: ["Damien Irving"]
contact: d.irving@student.unimelb.edu.au
---

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  Researchers spend much of their time wrestling with software, but most
  are self-taught programmers. As a result, they spend hours doing things that
  should take minutes, reinvent a lot of wheels, and still don't know if their
  results are reliable. To tackle this problem, an international volunteer organisation
  known as <a href="http://software-carpentry.org">Software Carpentry</a> has been
  running <a href="http://software-carpentry.org/bootcamps/">bootcamps</a> for a number 
  of years now, teaching basic lab skills for computing like program design, version 
  control, data management and task automation. With support from the 
  <a href="https://its.unimelb.edu.au/research">ITS Research Services</a> department, 
  <a href="https://github.com/resbaz/hackerwin">The Hacker Within</a> student group has 
  been running Software Carpentrty bootcamps at the University of Melbourne since 2013. 
  For this particular bootcamp, we are teaming up with COMBINE to offer a four-day course 
  specifically for the computational biology and bioinformatics community.    
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The bootcamp is aimed at postgraduate students, post-docs and other researchers 
  in the Australian computational biology and bioinformatics community who have a basic  
  familiarity with programming concepts like loops, conditionals, and arrays, but need 
  help to translate this knowledge into practical tools to help them work more productively.
  Participation is not restricted to only University of Melbourne people - we'd love to see
  many institutions represented.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong>
  Participants are asked to bring their laptop with some specific software packages 
  installed (the Bash Shell, a text editor, Git, and Python/Anaconda; set the 
  instructions below). If you don't have a laptop, that's completely fine. We'll pair 
  you up with someone who does.
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>
<p>
  In order to accommodate as many people as possible, we are going to spread the
  content of the typical two-day bootcamp over four morning sessions. The following 
  is an outline of what will be taught:
</p>

<p>
  <strong>Session 1: The basics</strong><br />
  <em>Tuesday 18 March, 9:00am-12:30pm, Theatre 4</em><br />
  The key to being a proficient programmer is solid fundamentals. In this session
  you'll learn the basics of the unix shell, which is the cornerstone of software
  carpentry.
  <br /><br />

  <strong>Session 2: Programming like a programmer</strong><br />
  <em>Friday 21 March, 9:00am-12:30pm, Theatre 4</em><br />
  <em>Wednesday 26 March, 9:00am-12:30pm, Theatre 3</em><br />
  Have you ever wondered how professional programmers write code? In this session
  you'll learn the common tricks of the trade, via an introduction to the Python
  programming language. From defensive programming, error handling and debugging
  to unit testing and test-driven development, the skills learned in this session
  are transferrable to any language.
  <br /><br />

  <strong>Session 3: Version control</strong><br />
  <em>Friday 28 March, 9:00am-12:30pm, Theatre 3</em><br />
  Do you work in a small research team that shares code? Do you struggle to keep
  track of multiple versions of the same code? Would you like an easier way to backup
  your work? This session will teach you everything you need to know about git,
  a version control system that can solve all these problems and more.
  <br /><br />

</p>

<hr/>


<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of the bootcamp.
</p>

{% include setup.html %}
